Source: mincmorph
Section: science
Priority: extra
Maintainer: Andrew Janke <a.janke@gmail.com>
Uploaders: Michael Hanke <mih@debian.org>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, libminc-dev (>=2.1~)
Standards-Version: 3.9.2
Homepage: https://github.com/andrewjanke/mincmorph

Package: mincmorph
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: perform morphology operations on MINC files
 This package provides a command line tool to perform morphological operations,
 on volumetric images. Such operations include, for example, frequency
 filtering, erosion/dilation, and convolution with various kernels. The only
 supported data format for input and output is MINC.
